<div class="navbar">
	<div class ="homepage_logo" ></div>
	<h1 class="oz"> OZ HAVER </h1> 
	<ul>
		<li> <%= link_to 'HOME', '/' %> </li>
		<li> <%= link_to 'NEWS', 'news/index' %> </li>
		<li> <%= link_to 'GALLERY', 'gallery/index' %> </li> 
		<li> <%= link_to 'DOODLES', 'doodles/index' %> </li>
		<li> <%= link_to 'BIO', 'bio/index' %> </li>
		<li> <%= link_to 'CONTACT', 'contact/index' %> </li>
		<li> <%= link_to 'LINKS', 'links/index' %> </li>
	</ul>
	<br> 
</div>